extends layout
block content
    .w3-container
        .w3-card-4
            header.w3-container.w3-teal
                h1.w3-center Home Page - Enterprise Manager 
                center
                    img(src='https://cdn2.iconfinder.com/data/icons/amazon-aws-stencils/100/Database_copy_Amazon_RDS_Oracle_DB_Instance-512.png' style='width:120px; height:120px;')
            .w3-container
                .w3-container
                    form(action="/databases/").w3-center
                        button(type='submit' style="background-color: #FFBF00; color: black; width:100%; padding:15px; font-size:20px; border-radius: 12px;").w3-hover-teal Consultar Utilizadores
                .w3-container
                    form(action="/users/").w3-center
                        button(type='submit' style="background-color: #FFBF00; color: black; width:100%; padding:15px; font-size:20px; border-radius: 12px;").w3-hover-teal Consultar Utilizadores
                .w3-container
                    form(action="/tablespaces").w3-center
                        button(type='submit' style="background-color: #FFBF00; color: black; width:100%; padding:15px; font-size:20px; border-radius: 12px;").w3-hover-teal Consultar Tablespaces
                .w3-container    
                    form(action="/cpu").w3-center
                        button(type='submit' style="background-color: #FFBF00; color: black; width:100%; padding:15px; font-size:20px; border-radius: 12px;").w3-hover-teal Consultar CPU
                .w3-container    
                    form(action="/memoria").w3-center
                        button(type='submit' style="background-color: #FFBF00; color: black; width:100%; padding:15px; font-size:20px; border-radius: 12px;").w3-hover-teal Consultar Memória
            footer.w3-container.w3-teal
                adress Gerado por Grupo 6