doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/Chart.min.css')
    script(src="/javascripts/Chart.min.js")
  body
    block content
