extends layout
block content
 nav(id="navMenu")
 div(style="margin-left:15%;padding:1px 16px;height:1000px;")
  .w3-container
    .w3-card-4
        header.w3-container.w3-teal
                h1.w3-center CPU USAGE
                center
                    img(src='https://cdn2.iconfinder.com/data/icons/amazon-aws-stencils/100/Database_copy_Amazon_RDS_Oracle_DB_Instance-512.png' style='width:120px; height:120px;')

        .w3-container(style = ' width:90%')
            canvas#myChart
        script.
            var usagesA = !{JSON.stringify(usages)}
            var datasA = !{JSON.stringify(datas)}
            console.log(datasA)
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: datasA,
                datasets: [{ 
                    data: usagesA,
                    label: "CPU Usage",
                    borderColor: "#3e95cd",
                    fill: false
                }
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                    ticks: {
                    beginAtZero: true,max:100
                    }
                    }]
                },
                title: {
                display: true,
                text: 'CPU Usage'
                }
            }
            });
            
        hr
        footer.w3-container.w3-teal
                adress Gerado por Grupo 6

