extends layout
block content
 nav(id="navMenu")
 div(style="margin-left:15%;padding:1px 16px;height:1000px;")
    .bgimg
        .middle
            h1(style="font-size: 400%;") 
                b Bem-Vindo !
            hr
            img(src='em.png' style='width:300px; height:120px; margin-top:20px')



    style.
        .bgimg {

        }
        .topleft {
        position: absolute;
        top: 0;
        left: 16px;
        }
        .bottomleft {
        position: absolute;
        bottom: 0;
        left: 16px;
        }
        .middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-20%, -65%);
        text-align: center;
        }
        hr {
        margin: auto;
        width: 40%;
        }
    