extends layout
block content
 nav(id="navMenu")
 div(style="margin-left:15%;padding:1px 16px;height:1000px;")  
    .w3-card-4  
        .w3-container
            header.w3-container.w3-teal
                h1.w3-center Home Page - Enterprise Manager

            .w3-container
                center
                    h1.w3-center Bem-Vindo
                    img(src='img.png')
            footer.w3-container.w3-teal
                adress Generate by Group 6