doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/Chart.min.css')
    script(src="/javascripts/Chart.min.js")
    script(src="/javascripts/generateData.js")
    script(src='https://kit.fontawesome.com/a076d05399.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    //meta(http-equiv='refresh' content='10')
  body
    block content
